<br>
<p id="title" style="color:black;font-size:40px;">Title</p>
<p id="summary">Summary</p>
<div class="row">
    <div class="column">
        <h2>Metadata</h2>
        <ul>
            <li id="author">Author</li>
            <li id="date">Article creation date</li>
        </ul>
    </div>
    <div class="column">
        <h2>Topics</h2>
        <ul>
            <li id="topics"></li>
        </ul>
    </div>
    <div>
        <h2>Similar articles</h2>
        <ul>
            <li id="topic1"></li>
            <li id="topic2"></li>
        </ul>
    </div>
</div>
<br>