<app-header></app-header>
<div class="row">
    <div class="column">
        <h2 font-size=50px>
            <p class="centered" style="color:black;font-size:40px;">Your article</p>
            <ul>
                <li id="title_similist">Title : </li>
                <li id="summary_similist">Summary : </li>
                <li id="author_similist">Author : </li>
                <li id="date_similist">Article creation date :</li>
                <li id="text_similist">Text : </li>
            </ul>
        </h2>
    </div>
    <div class="column">
        <h2>
            <p class="centered" style="color:black;font-size:40px;">Similar articles</p>
        </h2>
    </div>
</div>